@font-face {
  font-family: "MyriadPro";
  src: url("./fonts/MyriadProRegular.eot");
  src: url("./fonts/MyriadProRegular.eot")format("embedded-opentype"),
       url("./fonts/MyriadProRegular.woff") format("woff"),
       url("./fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadPro";
  src: url("./fonts/MyriadProBold.eot");
  src: url("./fonts/MyriadProBold.eot")format("embedded-opentype"),
       url("./fonts/MyriadProBold.woff") format("woff"),
       url("./fonts/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "MyriadProLightSemiExtended";
  src: url("./fonts/MyriadProLightSemiExtended.eot");
  src: url("./fonts/MyriadProLightSemiExtended.eot")format("embedded-opentype"),
       url("./fonts/MyriadProLightSemiExtended.woff") format("woff"),
       url("./fonts/MyriadProLightSemiExtended.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

