@require "../../colors.styl"

.circle-progress
  &__element
    margin-left 20px
    display inline-block
    width 27px
    height 27px
    border-radius 50%
    
    &_active
      background cv-theme-color
      
    &_inactive    
      background progress-incomplete-color