.author
  text-align center
  margin-bottom 15%
  margin-top 43px
  &__name
    font-family MyriadProLightSemiExtended
    text-transform uppercase
    font-size 80px

    
  &__surname
    text-transform uppercase
    font-size 90px
    font-weight bold
    
  &__profession
    text-transform uppercase
    font-size 40px
    font-weight bold


