@require "../colors.styl"

.contact-table
  margin-top 20px
  font-size 41.15px
  
.contact-table__header  
  color cv-theme-color
  padding 0 80px 80px 0
  text-transform uppercase
  text-align left
  
.contact-table__cell
  padding-bottom 80px