@require "../colors.styl"

.contact-table
  font-size 33px
  border-collapse collapse

  &__row
    padding-bottom 45px
    &:last-child
      padding-bottom 0

  &__header 
    padding-bottom inherit
    padding-right 80px
    color cv-theme-color
    text-transform uppercase
    text-align left  

  &__cell
    padding-bottom inherit
