.software-list
  display flex
  flex-wrap wrap
  &__column
    flex auto
    display flex
    flex-direction column
    margin-right 90px
    &:last-child
      margin-right 0px
    &-item      
      flex auto
      display flex
      flex-direction column
      margin-bottom 37px
      &-name
        font-size 40px
        text-transform uppercase
        margin-bottom 15px
      