@require "../circular-background/circular-background.styl"

.title
  display flex
  align-items center
      
  &__text
    display flex    
    align-items center
    height 70px
    color cv-theme-color
    font-size 60px
    text-transform uppercase
    margin 10px 20px 0px 20px

  &__line
    flex 1    
    background-color mariner
    height 8px
    width 100%
    