@require "../colors.styl"

circular-background(diameter, padding, border-width)
  border border-width solid mariner
  padding padding
  width diameter
  height diameter
  border-radius 50%
  background cv-theme-color
  background-clip content-box
