@require "../colors.styl"

circular-background(width, height, padding, border-width)
  border border-width solid mariner
  padding padding
  width width
  height height
  border-radius 50%
  background cv-theme-color
  background-clip content-box
