@require "../../colors.styl"

.rectangle-progress
  height 34px
  width 100%
  background progress-incomplete-color
  
  &__complete
    height 100%
    background cv-theme-color
    
    &_photoshop
      width 90%
      
    &_illustrator
      width 70%    
      
    &_indesign
      width 56%    
      
    &_dreamweaver
      width 83%
      
    &_after-effects    
      width 61%
      
    &_htmlcss
      width 91%